.skywallet {
	height: 100%;
}
.skywallet__wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.skywallet__wrapper-content {
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
}

.skywallet__bg-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.3;
	z-index: -1;
}

@media only screen and (max-width: 950px) {
	.skywallet__wrapper {
		height: 100%;
		display: block;
		flex-direction: column;
	}
	.skywallet__wrapper-content {
		flex-grow: 1;
		height: 100%;
		overflow: auto;
	}
	.skywallet__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
}
