* {
	margin: 0px;
}
html,
body,
#root {
	height: 100%;
}

body {
	background: url('./assets/1267583.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

select {
	width: 100%;
	height: 33px;
	border: none;
	font-size: 1rem;
	border-bottom: 1px solid #283479;
}

select:focus {
	border: none;
	outline: none;
	border-bottom: 3px solid #283479;
}

.loader {
	text-align: center;
}

input {
	width: 100%;
	height: 30px;
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid #283479;
}

input:focus {
	border: none;
	outline: none;
	border-bottom: 3px solid #283479;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #283479;
}
