.form-group {
	width: 40%;
}

.form-group > * {
	display: block;
}

.save-wallet-form__wrapper {
	display: flex;
	justify-content: space-around;
}

#submit-btn {
	background-color: #283479;
	color: white;
	height: 35px;
	width: 50px;
	margin-top: 40%;
	cursor: pointer;
}

.error {
	color: red;
	font-weight: bold;
}

@media only screen and (max-width: 1000px) {
	.save-wallet-form__wrapper {
		display: block;
	}

	.form-group {
		width: 100%;
		margin-top: 10px;
	}

	#submit-btn {
		margin-top: 10px;
		width: 101%;
	}
}
